*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 500px;
    height: 556px;
}

h2{
    margin-bottom: 81px;
    font-size: 58px;
    text-transform: uppercase;
}

.form{
    background-color: #F9F9F9;
    border: 1px solid #DADADA;
    height: 56px;
    margin-bottom: 31px;
    width: 420px;
    padding-left: 30px;
}

.form::placeholder{
    color: #a0a0a0;
}

button{
    background-color: #2196F3;
    color: #FFFFFF;
    height: 56px;
    width: 420px;
    border: 1px solid #1976D2;
    border-radius: 10px; 
    margin-bottom: 19px;
    font-size: 36px;
}

button:hover{
    cursor: pointer;
}

p a{
    color: #2196F3;
    text-decoration: none;
}