* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os itens no topo */
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 500px;
    min-height: 200px; /* Altura mínima para o contêiner */
    max-height: 80vh; /* Altura máxima para evitar que ultrapasse a tela */
    overflow-y: auto; /* Adiciona barra de rolagem se necessário */
    padding: 20px;
    gap: 20px; /* Espaçamento entre os elementos */
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
}

button {
    background-color: #2196F3;
    color: #FFFFFF;
    height: 56px;
    width: 100%; /* Ajusta o botão para ocupar toda a largura do contêiner */
    border: 1px solid #1976D2;
    border-radius: 10px;
    font-size: 18px;
    margin-top: auto; /* Empurra o botão para o final do contêiner */
}

button:hover {
    cursor: pointer;
}

.task {
    background-color: #F9F9F9;
    border: 1px solid #DADADA;
    border-radius: 10px;
    padding: 15px;
    width: 100%; /* Ocupa toda a largura do contêiner */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.task p {
    font-size: 14px;
    margin-bottom: 5px;
}

.task input[type="checkbox"] {
    margin-top: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

/* Estilo para os inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DADADA;
    border-radius: 5px;
    font-size: 16px;
    background-color: #F9F9F9;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}